.hem-container {
  border: solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: 94.6vh; */
  /* height: 100vh; */
  /* margin-top: 50px;
  margin-bottom: 50px; */
  height: -o-calc(100vh - 65px); /* opera */
  height: -webkit-calc(100vh - 65px); /* google, safari */
  height: -moz-calc(100 - 65px); /* firefox */
}

.hem-container :first-child {
}

.hem-leftside {
  border: solid;
  flex: 1;
  padding: 1rem;
}

.hem-rightside {
  border: solid;
  flex: 1.5;
  padding: 1rem;
}

.hem-img img {
  width: 1rem;
}
