.hem-container {
  display: flex;
  padding-top: 1rem;
}

.hero {
  background-image: url("fish.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
  & p {
    text-align: center;
    color: white;
    font-size: 2rem;
  }
}

.hem-beskrivning {
  border: solid blue;
  margin: 2rem;
  padding: 2rem;
  flex: 1.2;
}

.hem-blommor {
  border: solid blue;
  height: 40rem;
  width: 10rem;
  flex: 1.7;
}

.hem-profil {
  display: flex;
  gap: 1rem;
  & h4 {
    margin-bottom: 5px;
  }
}

.img-profilbild {
  width: 15rem;
  height: 15rem;
  margin-right: 100px;
}

.text-container {
  display: flex;
  flex-direction: column;
}
