.hem-container {
  /* display: flex; */
  /* border: solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: 94.6vh; */
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hem-leftside {
  border: solid;
  flex: 1;
  padding: 1rem;
}

.hem-rightside {
  border: solid;
  flex: 1.5;
  padding: 1rem;
}

.hem-img img {
  /* width: 400px; */
  /* position: relative; */
}
