/* Kontakt info section: */

.kontakt-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.img-kontakt {
  /* border: solid brown; */
  /* margin-top: 20px;
  margin-bottom: 20px; */
  margin: auto;
  min-width: 240px;
  height: auto;
}

/* .kontakt-img-container {
  margin-right: 2rem;
  padding: 1rem;
  flex: 1;
} */

.kontakt-info {
  margin-top: 2rem;
  /* border: solid blue; */
  flex: 1;
  & h4 {
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
  }
  & p {
    text-align: center;
  }
}

.span-container {
  text-align: center;
  margin-bottom: 1rem;
  & a {
    text-decoration: none;
  }
}

.form-container {
  /* border: solid blue; */
  text-align: center;
}

input,
label,
textarea {
  display: block;
  width: 80%;
  margin: 0 auto;
}

textarea {
  min-height: 100px;
}

.namn-label,
.email-label,
.textarea-label {
  line-height: 2rem;
  text-align: center;
}
