/* Kontakt info section: */

.kontakt-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 1rem;
  margin: 2rem;
}

.kontakt-info {
  margin-top: 2rem;
  flex: 1;
  & h4 {
    font-size: 2rem;
    line-height: 3rem;
  }
  & p {
    /* text-align: center; */
  }
}

.span-container {
  /* text-align: center; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  & a {
    text-decoration: none;
  }
}

.form-container {
  /* text-align: center; */
}

textarea {
  /* display: block; */
  width: 80%;
  margin: 0 auto;
}

textarea {
  min-height: 100px;
}

.form-label {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding-left: 1rem;
  margin: 0;
  & label {
    padding-left: 1rem;
  }
  & input {
    width: 50%;
    border: 2px solid #938484;
    border-radius: 6px;
    padding: 12px;
    margin-left: 4rem;
    margin-bottom: 1rem;
  }
}

.form-email-label {
  padding-left: 1rem;
  & label {
    padding-left: 1rem;
  }
  & input {
    width: 50%;
    border: 2px solid #938484;
    border-radius: 6px;
    padding: 12px;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}

.form-label,
.textarea-container {
  line-height: 2rem;
  text-align: center;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  & textarea {
    border: 2px solid #938484;
    border-radius: 6px;
  }
}

.btn-submit {
  border-radius: 6px;
  width: 30%;
  border: none;
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgb(190, 187, 181);
}
