/* Kontakt section: */

.container {
  max-width: 100%;
  padding: 0;
  margin-top: 1rem;
}

.kontakt-container {
  display: flex;
}

.kontakt-info {
  margin: 2rem;
  padding-left: 1.5rem;
  border: solid red;
  width: 50%;
  & h4 {
    font-size: 2rem;
  }
}

.span-container {
  line-height: 2;
}

a {
  text-decoration: none;
}

.img-kontakt {
  border: solid brown;
  margin: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 50%;
  height: auto;
}

/* Kontakt request: */

.kontakt-requestform {
  border: solid blue;
  flex: 1;
  padding-top: 10px;
  margin-right: 2rem;
  padding: 2rem;
}

.textarea-main {
  width: 100%;
}
