/* Om mig section: */

.text-container {
  display: flex;
  flex-wrap: wrap;
}

.om-mig-beskrivning {
  flex: 1;
  padding-top: 5rem;
  padding-left: auto;
  padding-right: auto;
  min-width: 240px;
  & h2 {
    line-height: 3rem;
  }
}

.img-psykoterapi-blommor {
  height: auto;
  margin: auto;
  flex: 0.5;
  padding-top: 4rem;
}

/* Om psykoterapi section: */

.psykoterapi-container {
  display: flex;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.psykoterapi-beskrivning {
  flex: 1;
  padding: 2rem;
  & h3 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.psykoterapi-content {
  padding-top: 1rem;
}

.psykoterapi-one-liner-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Psykolog foretagarna section: */

.psykologForetagarna-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  margin-top: 5rem;
  font-size: 12px;
}

.psykologForetagarna-content {
  flex: 1;
  & li {
    margin-left: 1rem;
  }
}

.img-psykologForetagarna {
  padding-top: 2rem;
  min-width: 240px;
  max-height: 500pxs;
}

/* Pris section: */

.priser-container {
  text-align: center;
  margin: 2rem;
  & h5 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
  }
}
