.footer-container {
  width: 100%;
  background-color: rgb(234, 228, 228);
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: flex-end;

  & li {
    float: right;
    text-align: center;
  }
  & span {
    padding-right: 50rem;
  }
}

.footer-item {
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}

/* .footer-item:hover {
  background-color: rgb(53, 173, 171);
  padding-top: 17px;
  padding-bottom: 17px;
} */
