.navbar-container {
  overflow: hidden;
  list-style-type: none;
  & li {
    float: left;
  }
}

.navbar-item {
  text-decoration: none;
  margin-right: 10px;
  color: white;
  &:hover {
    color: blue;
  }
}
