.navbar-container {
  width: 100%;
  background-color: #28d677;
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  & li {
    float: right;
    text-align: center;
  }
}

.navbar-brand {
  padding-left: 3rem;
}

.navbar-item {
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}

.active {
  background-color: rgb(69, 206, 204);
  color: white;
  padding-top: 17px;
  padding-bottom: 17px;
}
.navbar-item:hover {
  background-color: rgb(53, 173, 171);
  padding-top: 17px;
  padding-bottom: 17px;
}
