@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

body,
html,
main {
  margin: 0;
  min-height: 30vh;
  background-color: rgb(234, 228, 228);
}

header {
  position: sticky;
  top: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

ul {
  list-style: inside;
}
