:root {
  padding-top: 100px;
  border: solid blue;
}

body {
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  background-color: rgba(133, 35, 35, 0.911);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  background-color: rgba(133, 35, 35, 0.911);
}
