* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
main {
  margin: 0;
  min-height: 30vh;
  background-color: rgb(234, 228, 228);
}

header {
  position: sticky;
  top: 0;
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */

  .img-profilbild {
    padding-top: 2rem;
    padding-left: 4rem;
    max-width: 240px;
    max-height: 300px;
  }

  article {
    padding-left: 8rem;
    padding-right: 4rem;
  }

  .om-mig-beskrivning {
    padding-left: 4rem;
    padding-right: 8rem;
  }

  .img-psykoterapi-blommor {
    padding-right: 6rem;
  }

  .psykoterapi-beskrivning {
    & h3 {
      padding-left: 2rem;
    }
  }

  .psykoterapi-content {
    padding-left: 2rem;
    padding-right: 14rem;
  }

  .psykoterapi-one-liner-content {
    padding-left: 2rem;
    padding-bottom: 1rem;
  }

  .psykologForetagarna-content {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 12rem;
  }

  .img-psykologForetagarna {
    height: 200px;
    width: auto;
    padding-top: 2rem;
    padding-left: 1rem;
    min-width: 240px;
    max-height: 500pxs;
    /* border: solid yellow; */
  }

  .kontakt-container,
  .form-container {
    padding-left: 2rem;
  }

  .form-label,
  .form-email-label {
    padding: 0;
    & input {
      max-width: 40%;
    }
  }

  .btn-submit {
    width: 10%;
    padding: 0.5rem;
    margin: 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */

  .navbar-menu {
    & li {
      font-size: 20px;
    }
  }

  .img-profilbild {
    max-width: 400px;
    max-height: 350px;
    padding-left: 6rem;
  }

  article {
    font-size: 22px;
    padding-left: 18rem;
    padding-right: 8rem;
  }

  .om-mig-beskrivning {
    font-size: 22px;
    padding-left: 6rem;
    padding-right: 10rem;
  }

  .img-psykoterapi-blommor {
    padding-right: 10rem;
  }

  .psykoterapi-beskrivning {
    & h3 {
      padding-left: 4rem;
    }
  }

  .psykoterapi-content {
    font-size: 22px;
    padding-left: 4rem;
    padding-right: 16rem;
  }

  .psykoterapi-one-liner-content {
    font-size: 22px;
    padding-left: 4rem;
    padding-bottom: 1rem;
  }

  .psykologForetagarna-content {
    font-size: 16px;
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 14rem;
  }

  .img-psykologForetagarna {
    height: auto;
    width: auto;
    padding-top: 2rem;
    padding-left: 1rem;
    min-width: 240px;
    max-height: 500pxs;
    /* border: solid purple; */
  }

  .kontakt-container,
  .form-container {
    font-size: 22px;
    padding-left: 4rem;
  }
  .textarea-container {
    & button {
      font-size: 18px;
    }
  }

  .form-label,
  .form-email-label {
    & input {
      max-width: 40%;
    }
  }

  .btn-submit {
    width: 10%;
    padding: 1rem;
    margin: 1rem;
  }
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */

  .navbar-menu {
    & li {
      font-size: 32px;
    }
  }

  .img-profilbild {
    max-width: 500px;
    padding-top: 2rem;
    padding-left: 8rem;
  }

  article {
    font-size: 24px;
    padding-left: 18rem;
    padding-right: 12rem;
  }

  .om-mig-beskrivning {
    font-size: 24px;
    padding-left: 8rem;
    padding-right: 14rem;
  }

  .img-psykoterapi-blommor {
    padding-right: 14rem;
  }

  .psykoterapi-beskrivning {
    & h3 {
      padding-left: 4rem;
    }
  }

  .psykoterapi-content {
    font-size: 24px;
    padding-left: 4rem;
    padding-right: 26rem;
  }

  .psykoterapi-one-liner-content {
    font-size: 24px;
    padding-left: 4rem;
    padding-bottom: 1rem;
  }

  .psykologForetagarna-content {
    font-size: 18px;
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 20rem;
  }

  .img-psykologForetagarna {
    height: auto;
    width: auto;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 14rem;
    min-width: 240px;
    max-height: 500pxs;
    /* border: solid pink; */
  }

  .kontakt-container,
  .form-container {
    font-size: 24px;
    padding-left: 4rem;
  }
  .textarea-container {
    & button {
      font-size: 20px;
    }
  }

  .form-label,
  .form-email-label {
    padding: 0;
    padding-left: 2rem;
    & input {
      max-width: 40%;
    }
  }

  .btn-submit {
    width: 10%;
    padding: 1rem;
    margin: 1rem;
  }
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .img-profilbild {
    max-width: 250px;
    max-height: 250px;
  }

  .om-mig-beskrivning {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .psykoterapi-content {
    padding-right: 2;
  }

  .psykoterapi-one-liner-content {
    padding-right: 2;
  }

  .psykologForetagarna-content {
    padding-top: 2rem;
    padding-right: 1rem;
  }

  .img-psykologForetagarna {
    height: auto;
    width: auto;
    padding-top: 2rem;
    min-width: 240px;
    max-height: 500pxs;
  }

  .form-label,
  .form-email-label {
    & input {
      max-width: 40%;
    }
  }

  .btn-submit {
    width: 30%;
    padding: 0.5rem;
    margin: 1rem;
  }
}
@media only screen and (device-width: 768px) {
  /* default iPad screens */

  .img-psykologForetagarna {
    height: 5px;
    width: 150px;
    padding-top: 2rem;
    min-width: 240px;
    max-height: 500pxs;
    /* border: solid red; */
  }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */

  .img-profilbild {
    padding-top: 2rem;
    padding-left: 2rem;
    max-width: 250px;
    max-height: 300px;
  }

  .om-mig-beskrivning {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .img-psykoterapi-blommor {
    padding-right: 2rem;
  }

  .psykologForetagarna-content {
    padding-right: 1rem;
  }

  .img-psykologForetagarna {
    height: 200px;
    width: auto;
    padding-top: 2rem;
    padding-left: 1rem;
    min-width: 240px;
    max-height: 500pxs;
    /* border: solid green; */
    flex: 1;
  }

  .form-label,
  .form-email-label {
    padding: 0;
    & input {
      max-width: 40%;
    }
  }

  .btn-submit {
    width: 22%;
    padding: 0.5rem;
    margin: 1rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */

  .img-profilbild {
    padding-left: 4rem;
    max-width: 280px;
  }

  article {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .om-mig-beskrivning {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .img-psykoterapi-blommor {
    padding-right: 6rem;
  }

  .psykoterapi-beskrivning {
    & h3 {
      padding-left: 2rem;
    }
  }

  .psykoterapi-content {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .psykoterapi-one-liner-content {
    padding-left: 2rem;
  }

  .psykologForetagarna-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .img-psykologForetagarna {
    height: auto;
    width: 300px;
    padding-left: 1rem;
    min-width: 240px;
    max-height: 500pxs;
    /* border: solid blue; */
    flex: 1;
  }
}
